<h2>Add New User</h2>

<% if @user_new && @user_new.errors.any? %>
  <% @user_new.errors.full_messages.each do |msg| %>
      <%= msg %><br>
  <% end %>
<% end %>
<% flash.each do |key, value| %>
  <%= value %><br>
<% end %>

<%= form_with model: @user_new, local: true do |form| %>
	<div class="form-group">
    <%= form.label(:firstname) %><br>
    <%= form.text_field :firstname, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label(:lastname) %><br>
    <%= form.text_field :lastname, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label(:email) %><br>
    <%= form.email_field :email, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label(:password) %><br>
    <%= form.password_field :password, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label("Confirm Password") %><br>
    <%= form.password_field :password_confirmation, class: 'form-control' %>
  </div>
  <div class="form-group">
    <h3>Make this user admin:</h3>
    <%= form.radio_button :is_admin, true %><%= form.label("Yes")%>
    <%= form.radio_button :is_admin, false %><%= form.label("No")%>
  </div>
  <%= form.submit(:create) %>
<% end %>