<h1>Edit user</h1>
<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |msg| %>
      <%= msg %><br>
  <% end %>
<% end %>
<% flash.each do |key, value| %>
  <%= value %><br>
<% end %>
<%= form_with model: @user, local: true do |form| %>
  <p>
    <%= form.label(:firstname) %><br>
    <%= form.text_field(:firstname) %>
  </p>
  <p>
    <%= form.label(:lastname) %><br>
    <%= form.text_field(:lastname) %>
  </p>
  <p>
    <%= form.label(:email) %><br>
    <%= form.email_field(:email) %>
  </p>
  <p>
    <%= form.label(:password) %><br>
    <%= form.password_field(:password) %>
  </p>
  <p>
    <%= form.label("Confirm Password") %><br>
    <%= form.password_field(:password_confirmation) %>
  </p>
  <p>
    <%= form.label("make this person admin: ") %><br>
    <%= form.radio_button(:is_admin, true) %><%= form.label("Yes")%>
    <%= form.radio_button(:is_admin, false) %><%= form.label("No")%>
  </p>
  <%= form.submit(:create) %>
<% end %>