<div class="row">
  <div class="col-sm-6">
  <h1>Book Info</h1>
  <br>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th scope="row">Name</th>
        <td><%= @book.name %></td>
      </tr>
      <tr>
        <th scope="row">Author</th>
        <td><%= @book.author %></td>
      </tr>
      <tr>
        <th scope="row">ISBN</th>
        <td><%= @book.isbn %></td>
      </tr>
      <tr>
        <th scope="row">Category</th>
        <td><%= @book.category.name %></td>
      </tr>
    </tbody>
    
  </table>
  <% if @record %>
    <% if @record.user_id == @user_logged.id %>
      <h5>You have this book already</h5>
    <% else %>
      <h5>This book borrowed already</h5>
    <% end %>
  <% else %>
    <%= link_to "Borrow This Book", library_record_path(@book.id), class: 'btn btn-primary' %>
  <% end %>
</div>
</div>